@Html.Partial("RoomList")

<style>
    #roomsList {
  font: 14px/18px Arial;
  height:400px;
  width:21% ; 
  background-color:#0c2b2b;
  float:right;
  overflow-y scroll;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 0 0 0;
}
    #roomsList li {
  color: #8db5b5;
  padding: 10px 15px;  
  border-bottom: 1px solid #133838;
}
</style>
<script type="text/javascript">

        $(function () {

            var chat = $.connection.RoomHub;


            chat.client.updateRooms = function (rooms) {

                $("#usersDiv").empty();
                for (var i in rooms) {
                    $('#usersDiv').append(
                     $('<li>').append(
                        $('<a>').attr('href', '/Room/Index/'+rooms[i].Key).append(
                         $('<span>').attr('class', 'tab').append(rooms[i].Value)
                    )));
                }
                if (rooms.length == 0) {
                    $('#usersDiv').append("<span>" + "No rooms available" + "</span>");
                }


            };


            $.connection.hub.start().done(function () {
                $("#createRoombtn").click(function () {

                    
                        document.location.href = "/Room/Index/" + generateUUID();
                   

                });
            });
        });
        function generateUUID() {
            var d = new Date().getTime();
            if (window.performance && typeof window.performance.now === "function") {
                d += performance.now();
            }
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = (d + Math.random() * 16) % 16 | 0;
                d = Math.floor(d / 16);
                return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });
            return uuid;
        }
</script>